# Drizzle
DATABASE_URL="postgres://postgres:mysecretpassword@localhost:5432/local"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Sanity
PUBLIC_SANITY_PROJECT_ID=""
PUBLIC_SANITY_DATASET="production"
PUBLIC_SANITY_API_VERSION="2026-04-20"

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
